/**
 * Copyright (C) 2017, 2018 Jens Lechtenbörger
 *
 * Released under GPLv3: https://www.gnu.org/licenses/gpl-3.0.html
 **/

@media (min-width: 38em) {
  html {
    font-size: 18px; }}

body {
  background: #fff;
  background-color: #fff;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #222; }

@media (min-width: 38em) {
  body {
    max-width: 32rem; }}

@media (min-width: 56em) {
  body {
    max-width: 38rem; }}

h1 { margin: 1rem 0 .5rem 0; }
h2, h3 { margin: 1.5rem 0 .5rem 0; }
ul, ol { margin: 0.5rem 0 .5rem 0; }
p, li { margin: 0 0 .4rem 0; }

a {
  color: #00568a;
  text-decoration: none; }

a[href^="http"] {
  color: #7ab516; }

a[href^="http"]:not(.nooutlink):after {
  content: url(../reveal.js/css/theme/outgoing-link.png);
  margin: 0px 3px 0px 3px; }

img {
  margin: 5px 0px 5px 0px;
  float: right; }

.title  { text-align: center; }

.status {
  margin: 1.5rem 0 0 0;
  font-size: 90%;
}
